@import url(https://fonts.googleapis.com/css?family=Poppins);

@media(min-width: 955px){

    Body{
        width: 100%;
        height: 100%;
        padding: 0;
        position: absolute;
        margin: 0;
        background-color: #121212;
        font-family: Poppins;
    }

    .background-total{
        width: 100%;
        height: 100%;
        position: absolute;
        display: grid;
        grid-template-columns: auto 45%;
    }
    .background-exb-info{
        height: 100%;
        padding-inline-start: 4.5vw;
    }
    .icon{
        width: 125px;
        margin-left: 30px;
        filter: contrast(0.86);
        margin-left: -3vw;
    }
    .background-exb-info h1{
        width: 85%;
        color: white;
        font-weight: 600;
        letter-spacing: 2px;
        line-height: 110%;
        margin-top: 6.5vh;
        font-size: 4vw;
    }
    .background-exb-info h2{
        width: 90%;
        font-size: 1.2vw;
        font-weight: normal;
        letter-spacing: .5px;
    }
    .h2-1{
        color: rgba(255, 255, 255, 0.63);
    }
    .h2-2{
        color: #cbc5e7;
    }
    #btn-init{
        margin-top: 3%;
        font-family: Poppins;
        font-size: 1vw;
        padding: 10px;
        padding-inline-start: 25px;
        padding-inline-end: 25px;
        letter-spacing: .8px;
        color: white;
        background-color: #5836BD;
        border: none;
        cursor: pointer;
    }
    #btn-init:hover{
        background-color: white;
        font-weight: 600;
        color: #121212;
    }

    #div-alert-not-continue{
        width: fit-content;
        background-color: #f7e6e6;
        padding: 3px;
        padding-inline-start: 12px;
        padding-inline-end: 12px;
        border-radius: 5px;
        margin-top: 25px;
        grid-template-columns: 30px auto;
        display: none;
    }
    #div-alert-not-continue img{
        width: 20px;
        height: 20px;
        margin: auto;
        margin-left: 0;
    }
    #div-alert-not-continue p{
        width: fit-content;
        margin: auto;
        display: inline;
        font-size: 1vw;
        color: #af0404;
    }

    .buttons{
        display: flex;
    }

    #btn-login{
        margin-left: 1px;
        margin-top: 3%;
        font-family: Poppins;
        font-size: 1vw;
        padding: 10px;
        padding-inline-start: 25px;
        padding-inline-end: 25px;
        letter-spacing: .8px;
        color: white;
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    .form-multiple-etp{
        width: 45vw;
    }
    .form1{
        display: grid;
        grid-template-columns: auto auto;
        grid-gap: 20px;
    }
    .form2{
        display: grid;
        grid-template-columns: 11vw auto;
        grid-gap: 20px;
        margin-bottom: 20px;
    }
    .cep{
        margin-bottom: 20px;
    }
    .input-info{
        height: 45px;
        padding-inline-start: 30px;
        font-family: 'Poppins';
        border-radius: 30px;
        border: none;
        letter-spacing: .5px;
        color: white;
        background-color: #ffffff0d;
    }
    .select-country{
        width: -webkit-fill-available;
        height: 45px;
        padding-inline-start: 30px;
        padding-inline-end: 10px;
        border: none;
        border-radius: 30px;
        background-color: #1e1e1e;
        margin-bottom: 20px;
        font-family: 'Poppins';
        color: white;
    }
    .input-neighbourhood{
        width: -webkit-fill-available;
    }

    #sc1{
        display: grid;
        grid-template-columns: auto auto;
        grid-gap: 20px;
    }
    #sc1 p1{
        margin: 0;
        color: #ffffffd9;
        font-size: 1.3vw;
        letter-spacing: .5px;
        margin-bottom: 7px;
    }
    .span-info{
        height: 45px;
        padding-inline-start: 30px;
        font-family: 'Poppins';
        border-radius: 30px;
        border: none;
        letter-spacing: .5px;
        color: white;
        background-color: #ffffff0d;
    }
    .span-info p{
        margin: auto;
        margin-left: 0;
    }


    .exb-list div{
        display: flex;
        margin-bottom: 15px;
    }
    .span-dec-input-checkbox{
        background-color: #ff000000;
        border-radius: 5px;
        width: 20px;
        height: 20px;
        display: inline-flex;
        border: 2px solid #ffffffbf;
    }
    #span-checked{
        width: 46%;
        height: 50%;
        background-color: transparent;
        margin: auto;
        border-radius: 2px;
    }
    .span-dec-input-checkbox input{
        width: 20px;
        height: 20px;
        position: absolute;
        margin: -.5px;
        opacity: 0;
        cursor: pointer;
    }
    #input-checkbox:checked ~ #span-checked{
        background-color: white;
    }
    .span-text{
        margin-left: 10px;
        color: white;
        letter-spacing: .5px;
    }
    .input-radio {
        color: white;
        letter-spacing: .5px;
    }
    #radio-input{
        margin-right: 15px;
    }


    .background-image{
        min-width: 300px;
        background-image: url(https://cdn.dribbble.com/users/47000/screenshots/17319483/media/4cd76a80f5b4bfd48f8f9ac5cf3870da.png?compress=1&resize=1200x900&vertical=top);
        background-size: cover;
        background-position-x: 35%;
        filter: contrast(1.1);
        display: grid;
    }
    .top-menu{
        width: 100%;
        height: 150px;
        background-image: linear-gradient(180deg, #000000, #00000000);
    }
    .top-menu ul{
        width: fit-content;
        height: 60%;
        margin: auto;
        display: grid;
        grid-template-columns: auto auto auto auto;
        grid-gap: 30px;
        padding: 0;
        padding-top: 4%;
        list-style: none;
        color: white;
    }
    .top-menu ul li{
        height: fit-content;
        cursor: pointer;
    }
    .footer-decoration p{
        margin: auto;
        width: 90%;
        font-weight: 500;
        color: white;
        letter-spacing: 1px;
        text-shadow: 0px 0px 15px black;
        font-size: 15px;
        margin-bottom: 5px;
    }
    .footer-decoration{
        width: 100%;
        margin-top: auto;
        margin-bottom: 30px;
    }
    .footer-decoration section{
        width: 90%;
        height: 150px;
        margin: auto;
        background-color: rgba(255, 255, 255, 0.5);
        backdrop-filter: blur(9px);
        display: flex;
    }
    #image-song{
        width: 95px;
        height: 95px;
        margin: auto;
        margin-left: 5%;
        margin-right: 4%;
    }
    .text h2{
        height: fit-content;
        margin: 0;
        margin-top: 32%;
        font-size: 18px;
        letter-spacing: .5px;
    }
    .text h3{
        height: fit-content;
        margin: 0;
        font-size: 11.5px;
        letter-spacing: .5px;
    }
    .icons{
        height: 30px;
        margin: auto;
        margin-right: 25px;
        display: flex;
        cursor: pointer;
    }
    .icons img{
        width: 25px;
        height: fit-content;
        background-size: contain;
        margin-right: 5px;
    }
    .img1{
        transform: rotate(180deg);
    }
    .barer{
        width: 90%;
        height: 5px;
        background-color: rgb(131, 131, 131);
        margin: auto;
    }
    #div-status{
        width: 1.5%;
        height: 100%;
        background-color: #121212;
    }

    @keyframes simulation-music{
        0%{width: 1.5%;}
        50%{width: 55%;}
        100%{width: 100%;}
    }
}